#registrationForm, #loginForm {
	display: block;
	position: relative;
}

#registrationForm  .preloader, #loginForm  .preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	display: none;
	z-index: 2;
	background: #FFF url("./ajax-loader.gif") center center no-repeat;
}

#registrationForm.lr-form .form-field {
	margin-bottom: 12px;
}

#registrationForm.lr-form, #loginForm .lr-form {
	width: 100%
}

#registrationForm  label, #loginForm  label {
	display: none
}

#registrationForm  label.error, #loginForm label.error {
	display: block;
	color: red
}

#registrationForm input, #loginForm input {
	width: 98%;
	font-family: Verdana;
	font-style: normal;
	font-size: 14px;
	color: #626262;
	border: 1px solid #d8d8d8
}

#registrationForm.lr-form input, #loginForm.lr-form input {
	padding: 15px;
}

#registrationForm  .button.medium {
	font: normal 300 30px/58px 'Roboto Condensed', sans-serif;
	color: white;
	padding: 0 40px;
	height: auto;
	background-color: #e0922f;
}

#loginForm  #rememberPass {
	display: block;
}

#loginForm .rememberMe {
	float: right;
	margin-right: 10px;
}

#loginForm .rememberMe input {
	width: auto;
	display: inline-block;
}
#loginForm .rememberMe label {
	display: inline-block;
}

/*Dialog - redefine because theme styles */
.ui-widget-overlay, .ui-dialog {
	z-index: 1001;
}

#updateProfileForm form .formItem {
	margin-top: 10px;
}

#updateProfileForm form input.text {
	width: 100%;
	display: block;
}